#---------------------------------------
# ignoruj w projekcie JPacjent2
#---------------------------------------

# podkatalogi katalogu głównego

.settings/
target/
test-output/

# pliki w głównym katalogu

# /.gitignore
/.springBeans
/.project
/.classpath
/jspacjent.*
/jspacjent2.*
/manifest
/nb-configuration.xml
/nbactions.xml

# pliki w każdym katalogu

*.doc#
*.log
*.ldb

#---------------------------------------
# Compiled source #
#
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
#
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


